
.todo_li {
    width: 100%;
    list-style: none;
    /* align-items: center; */
    /* text-align: center; */
    cursor: pointer;
    padding: 1em;
}

.todo_li:hover {
    transform: scale(1.02);
}

.todo_title {
    /* width: 150px; */
    /* display: inline-block; */
    /* width: 250px; */
    /* width: 100%; */
    /* height: 2rem; */
    /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; */
    text-align: center;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.div_item_container {
    /* background-color: bisque; */
}

.div_item_container :hover {
    /* transform: scale(1,4);
    background-color: aqua; */
}

/* .todo_li :hover {
    transform:scale(1.1); 
} */