
.todo_ul {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    margin-top: 6px;
    padding: 0;
}


    
/* 
.todo_li_div :hover{
    border: 2px solid red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform:scale(1.2);
} */

.test {
    @apply :hover border 1px solid blue;
}