
.nav_container {
    /* line-height: 3rem; */
    /* width: 3rem; */

    /* height: 5rem;
    position: relative; */

    /* height:300px;
    width:300px;
    background:orange;
    position: relative; */

    /* margin: 1em 0; */
    width: 100%;
    height: 8rem;
    /* position: relative; */
    display: flex;



}

.nav {

}

.nav_logo {
    /* height: 3rem; */
    /* max-height: 100%;
    max-width: 100%;
    width: 5rem;
    height: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    
/*     
    width: 8rem;
    vertical-align: middle;
*/

    /* max-height: 25px;
    max-width: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */


    /* float: left;    임시로 해놓음 */
    position: relative;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;

    
}

.nav_search_input {
    line-height:  4rem;
    vertical-align: top;
    /* border: 2px solid blue; */
    
    /* margin-left: 1rem; */
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    font-size: 1rem;
    position: relative;
}

.nav_search_btn {
    line-height:  3rem;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    position: relative;
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid black;
    
    /* top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    position: relative; */
}